* {
    background-color: white;
    color: black;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Times New Roman';
}
.navbar {
    background-color: white;
    color: black;
    border-color: bisque;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 2em;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}
.nav-links li a{
   color: black;
   text-decoration: none;
   font-size: 1em;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    column-gap: 3px;
}
.bar {
    width: 30px;
    height: 5px;
   background-color: white;
}
