/* *{
    background-color: antiquewhite;
}

#Info {
    color: black;
    text-align: center;
}
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar {
    background: #222;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
}

@media(max-width: 768px) {
    .hamburger { display: flex; }
    .nav-links { display: none; flex-direction: column; text-align: center; }
}
.content { padding: 40px; }
