* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #f3f3f3;
    background-color: gainsboro;
    background-image: url(images/logo\ background.jpg);
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #222;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

/* NAV LINKS */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* HAMBURGER (MOBILE) */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 28px;
    height: 4px;
    background: white;
    margin: 4px 0;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #222;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }

    .hamburger {
        display: flex;
    }
}

/* LOGIN FORM POPUP */
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000088;
    top: 0;
    left: 0;
    z-index: 5;
}

.login-box {
    display: none;
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    line-height: 30px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    font-size: 1.1em;
    border: 1px solid grey;
    border-radius: 5px;
    border-width: 2px;
    line-height: 30px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    font-size: 1.5em;
    background: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    line-height: 30px;
}

.close {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
    color: purple;
    cursor: pointer;
}

.Intro {
    border-radius: 5px;
    font-size: large;
    border-width: 2px;
    background: antiquewhite;
    margin-top: 60px;
    padding: 60px;
    line-height: 35px;
    align-content: center;

}

#Intro2 {
    background-color: antiquewhite;
    scroll-padding: 20px;
    line-height: 35px;
    padding: 60px;
}